[Unit]
Description=Suricata IDS/IPS (PFRING mode)
After=network.target

[Service]
ExecStart=/sgi/bin/suricata -c /sgi/etc/suricata/suricata.yaml --pfring
Restart=always

[Install]
WantedBy=multi-user.target
